.headergap {
height:44px;
}
.subtext {
    opacity:0.4;
    font-size:0.7em;
}     
 .page--menu-page__background {
            background-color: #333;
        }

        .page--menu-page__content {
            color: white;
        }

        .menu-close,
        .menu-close > .toolbar-button {
            color: #999;
        }

        .menu-list,
        .menu-item:first-child,
        .menu-item:last-child,
        .menu-item {
            background-color: transparent;
            background-image: none !important;
            border-color: transparent;
            color: #fff;
        }

        .menu-item {
            padding: 0 0 0 20px;
            line-height: 52px;
            height: 52px;
            text-shadow: rgba(0, 0, 0, 0.4) 0px 1px 0px;
        }

            .menu-item:active {
                background-color: rgba(255, 255, 255, 0.1);
            }

        .menu-notification {
            display: inline-block;
            margin-top: 12px;
            font-size: 14px;
            height: 16px;
            line-height: 16px;
            min-width: 16px;
            font-weight: 600;
                color: white !important;
        }

        .bottom-menu-list,
        .bottom-menu-item:first-child,
        .bottom-menu-item:last-child,
        .bottom-menu-item {
            border-color: #393939;
            background-color: transparent;
            background-image: none !important;
            color: #ccc;
        }

            .bottom-menu-item:active {
                background-color: rgba(255, 255, 255, 0.1);
            }
.submenu {
    background-color:#5a5858;
    margin-left:20px;
}
          .submenu > .list__item {
            line-height:37px !important;
            min-height:37px !important;
            font-size: 13px;
            height:40px;
            }

       .menu  .list__item {
  min-height: 0px;
}

        .menu  .list__item {
            line-height:42px !important;
            min-height:42px !important;
            font-size: 15px;
            height:42px;
            }


.title {
  background: #F5F5F5;
}

.active {
  background: #EFEFEF;
}
.avatarcolwrapper {
    line-height:initial;
    max-width:100%;
    max-height:100%;
    overflow:hidden;
    font-size:0.8em;
    vertical-align:top;
    margin:3px;
}
.avatarcolwrapper .name {
    width:100%;
    white-space:nowrap;
}
.userlist {
    min-width:100%;
}
.userlist .avatar {
    width:30px;height:30px;
    border-radius:20px;
}
.userlist ons-list-item {
    max-height:44px;
    overflow: hidden;

}

.userlist .avatar, .comment-avatar .avatar {
    width:30px;height:30px;
    border-radius:20px;
}

.userlist .checkbox--noborder{
    line-height:14px;
}
.userlist .checkbox--noborder {
    margin: 4px;
    width:100%;

}
.avatar {
    width:40px;height:40px;
    border-radius:20px;
    margin:4px;
}
.description {
    margin:3px;
    border-radius:3px;
    background-color: #c13234;
    font-size: 0.7em;
    color:#697697;
    padding:4px;
    margin-right:5px;
    line-height:initial;
}
 .logo{padding:4px;width:30px;height:30px;}
 a{color:#293c6b;}



.feed .list-item-container {
  line-height: 1;
  padding: 15px 0px 15px 15px;
}

.feed .thumbnail {
  width: 100%;
  height: 100%;
  border-radius: 4px;
  -webkit-border-radius: 4px;
}

.feed .name {
  font-weight: 500;
  line-height: 16px;
  font-size: 15px;
  margin-bottom: 6px;
}

.feed .location {
  font-size: 14px;
  opacity: 0.4;
  margin-bottom: 6px;
}

.feed .desc {
  line-height: 1.2;
  font-size: 13px;
}
.colmargin3 {
   margin:6px;
}

.login-form {
  text-align: center;
  width: 80%;
  margin: 60px auto 0;
}

input[type=email], input[type=password], .txtsignup {
  display: block;
  width: 100%;
  margin: 0 auto;
  outline: none;
  padding-top: 24px;
  padding-bottom: 24px;
}

.login-button {
  width: 100%;
  margin: 0 auto;
}

.forgot-password {
  display: block;
  margin: 8px auto 0 auto;
  font-size: 14px;
}

.commentcontainer,.text-input {
    background-color:#e9ebef;
    opacity:1;
}
.text-input {
    margin:4px;}


.timeline {
  margin-top: 10px;
  margin-bottom: 10px;
}

.timeline-li {
  line-height: 1;
  padding: 10px;
}

.timeline-image {
  width: 40px;
  height: 40px;
  border-radius: 4px;
}

.timeline-date {
  float: right;
  font-size: 12px;
  opacity: 0.35;
}

.timeline-from {
  margin: 10px 0 6px 0;
}

.timeline-name {
  font-size: 15px;
  font-weight: 500;
}

.timeline-id {
  font-size: 14px;
  opacity: 0.4;
}

.timeline-message {
  margin-top: 4px;
  font-size: 14px;
  opacity: 0.8;
  line-height: 1.15;
}


.profile-card {
  width: 100%;
  text-align: center;
  color: white;
  padding: 30px 0;
  line-height: 1.4;
  background-color: #33393c;
  text-shadow: rgba(0, 0, 0, 0.4) 0px 1px 0px;
}

.profile-image {
  height: 100px;
  width: 100px;
  border-radius: 50%;
  -webkit-border-radius: 50%;
  background-color: black;
  border 1px solid white;
  box-shadow:rgba(0, 0, 0, 0.2) 0px 2px 0px 0px;
  -webkit-box-shadow:rgba(0, 0, 0, 0.2) 0px 2px 0px 0px;
}

.profile-name {
  margin: 20px 0 0 0;
  font-weight: 600;
  font-size: 17px;
}

.profile-id {
  margin: 0 0 5px 0;
  font-size: 14px;
  opacity: 0.6;
}

.profile-desc {
  font-size: 15px;
  opacity: 0.6;
  width: 90%;
  text-align: center;
  margin: 0 auto;
}

.info-col {
  height: 60px;
  line-height: 1;
  padding: 12px 0 12px 4px;
}

.info-num {
  font-size: 16px;
  font-weight: 500;
  opacity: 0.8;
}

.info-unit {
  margin-top: 6px;
  font-size: 14px;
  opacity: 0.4;
}



div, input, button, label{
	color:#293c6b !important;
	}
textarea{
	resize:none !important;
	}
.dark-blue{
	color:#293c6b !important;
	}
.ui-panel>div>ul>li>a.ui-btn-active{
	background:black !important;
	border:black !important;
	text-shadow:none !important;
	box-shadow:none !important;
	}
.welcome-page{
	background-image: url(mobile/images/background-image.jpg);
	background-repeat:no-repeat;
	background-size:cover;
	background-position:center;
	}
.standard-page{
	background:rgba(41,60,107,0.10);
	}
.title{
	color:#293c6b !important;
	}
header>a.ui-btn:focus{
	-moz-box-shadow: none !important;
    -webkit-box-shadow: none !important;
    box-shadow: none !important;
	}
.content{
	max-width:500px;
	margin:auto;
	}
.login-btn{
	background-color: #428BCA !important;
	border:#428BCA !important;
	color:white !important;
	}
.signup-btn{
	background-color: #5CB85C !important;
	border:#428BCA !important;
	color:white !important;
	}
.bracketdash-text-img{
	width:200px;
	height:74px;
	background-image: url(mobile/images/bracketdash-text-img.png);
	background-repeat:no-repeat;
	background-size:cover;
	margin:20px auto;
	}
.standard-bar{
	background:white !important;
	height:44px !important;
	}
header>a{
	top:10px !important;
	}
.logo{
	margin:3px auto;
	background-image:url(mobile/images/bracketdash-logo.png);
	background-repeat:no-repeat;
	background-size:36px 36px;
	}
.white-background{
	background:white !important;
	}
.no-borders{
	border:0;
	}
.links{
	margin:70px auto;
	}
.footer, .footer>.navbar>ul>li>a{
	background-color:transparent !important;
	border:transparent !important;
	color:white !important;
	text-shadow:1px 1px 6px #293C6B !important;
	}
.profile-badge{
	background:rgba(178, 0, 2, 0.1) none repeat scroll 0% 0%;
	width:100%;
	text-align:center;
	}
.profile-content-title{
	background:#949db5;
	text-align:center;
	font-size:small;
	font-weight:bold;
	width:100%;
	padding:5px 0px;
	}
.profile-content{
	margin:0px !important;
	padding:0px;
	}
.profile-badge>div{
	display:inline-block;
	}
.timeline .avatar{
	height:100px;
	width:100px;
	border-radius:100%;
	margin:10px;
	text-align:center;
	overflow:hidden;
	}
.avatar>img{
	width:100px;
	height:100px;
	}
.Fullname{
	font-weight:bold;
	}
.Username{
	margin-bottom:15px;
	opacity:.5;
	}
.error {
   	color:#b20002 !important;
}
.centered {
	margin:auto;
	text-align:center;
	}
.display-block{
	display:block;
	}
	
/*enable word wrapper for listview list item!*/
.ui-listview .ui-li-static {
    white-space : normal !important;
}
	
/*activity */
#search-user-bracket, #search-user-battle{
	padding:10px;
	}
@media only screen and (min-width: 1100px){
	#demo-iframe iframe{
		width:1000px;
		height:563px;
		border:0 !important;
		padding:0 !important;
		}
	.ui-popup-container .ui-content{
		border: 0 !important;
		padding: 0 !important;
	}

}
@media only screen and (max-width: 1100px){
	#demo-iframe iframe{
		width:700px;
		height:394px;
		border:0 !important;
		padding:0 !important;
		}
	.ui-popup-container .ui-content{
		border: 0 !important;
		padding: 0 !important;
	}
}
@media only screen and (max-width: 800px){
	#demo-iframe iframe{
		width:500px;
		height:281px;
		border:0 !important;
		padding:0 !important;
		}
	.ui-popup-container .ui-content{
		border: 0 !important;
		padding: 0 !important;
	}
}
@media only screen and (max-width: 600px){
	#demo-iframe iframe{
		width:300px;
		height:169px;
		border:0 !important;
		padding:0 !important;
		}
	.ui-popup-container .ui-content{
		border: 0 !important;
		padding: 0 !important;
	}
}
/*End of feeds */
#divOverlay { background-color:black; text-align:center;  position:absolute; width:100%; height:100%; z-index:10001; opacity:0.8; color:white; }

.profile-card div {
color:#FFF !important;}

.biobar .tab-bar {
    z-index: 10000;
    
}
.biobar .tab-bar div{color:#FFF !important;}

.biobar .active div{color:#293c6b !important;}
.info-col {
    text-align:center;
}
.page__content {
    overflow: auto !important;
}

.contentwrapper{
    height:auto;
            background-color:#fff;
    border-radius:5px;    z-index:100;

    }

.tab-bar {
    background-color: #c13234;
    color: white !important;
    
}
.tab-bar__button div {
    color:white !important;
    opacity:0.5;
}
:checked + .tab-bar__button div {
    color: #293c6b !important;
    background-color:white;
    opacity:1;
}
.btnsecond {
    background-color:silver;
    color:#293c6b !important;
}
.btnwide{    width:95%;
}
.btnprimary {color:white !important;
}
.popsearchuser .popover__content  {
    min-height:100px;
    background-color:#fff;
}
  .popsearchuser .list__header {
    min-height:40px;
    background-color:#fff;
}
.close {
    width:15px;
        height:15px;
        border-radius:10px;
}

/*search-feature-wrapper*/
.main-search-feature-wrapper{
	width:500px;
	min-height:100px;
	background:white;
	border:1px solid #bec4d2;
	border-radius:4px;
	overflow:hidden;
	}
.main-search-input{
	width:460px;
	height:35px;
	font-size:22px;
	color:#293c6b;
	border:1px solid #bec4d2;
	border-radius:4px;
	padding:5px 10px;
	background:rgba(41,60,107,0.10);
	margin:10px auto;
	}
.main-search-content-wrapper{
	
	}
.main-search-divider{
	width:100%;
	padding:5px 0px;
	background:#bec4d2;
	font-weight:bold;
	text-align:center;
	}
.main-search-list-wrapper{
	width:100%;
	padding:5px;
	text-align:left;
	cursor:pointer;
	}
.main-search-list-wrapper:hover{
	background:#e9ebf0;
	}
.main-search-list-avatar{
	width:40px;
	height:40px;
	border-radius:100%;
	overflow:hidden;
	display:inline-block;
	vertical-align:top;
	}
.main-search-list-avatar>img{
	width:40px;
	height:40px;
	}
.main-search-list-content{
	display:inline-block;
	vertical-align:top;
	padding:0px 10px;
	}
.main-search-list-content-fullname{
	font-weight:bold;
	}
.main-search-list-content-username{
	color:#697697;
	}
.main-search-list-content-first-row>div{
	display:inline-block;
	vertical-align:top;
	padding:0px 5px 0px 0px;
	color:#697697;
	}
.main-search-list-content-host{
	font-weight:bold;
	}
.main-search-list-content-date{
	color:#697697;
	}
.main-search-list-content-title{
	max-width:440px;
	font-size:20px;
	font-weight:bold;
	}
.main-search-list-content-type-and-category{
	color:#697697;
	}
.pre-main-search-filler>div:nth-child(1){
	background:url(../images/search.png);
	background-repeat:no-repeat;
	background-size:200px;
	height:200px;
	width:200px;
	margin:auto;
	}
.pre-main-search-filler>div:nth-child(2){
	font-weight:bold;
	font-size:14px;
	color:#697697;
	}
.pre-main-search-filler{
	padding-bottom:30px;
	}
.main-search-expand{
	width:100%;
	background:#bec4d2;
	font-size:16px;
	}
.main-search-expand>a{
	display:block;
	width:100%;
	padding:10px 0px;
	}
.main-search-expand:hover{
	background:#949db5;
	}

/*activity options loading fill*/
/*end of activity in progress options palette*/
/*comment section view*/
.comment-section-wrapper{
	max-height:330px;
	overflow-y:scroll;
	overflow-x:hidden;
	font-family:arial;
	font-size:14px;
	color:#293c6b;
    text-align:left;
	}
.comment-section-wrapper>div{
	}
.comment-input-wrapper{
	margin:5px 10px;
    text-align:left;
	}
.comment-input-wrapper>div,.comment-wrapper>div{
	display:inline-block;
	vertical-align:top;
	}
.comment-wrapper{
	margin:5px 10px;
	}
.comment-input-avatar,.comment-avatar{
	border-radius:100%;
	width:50px;
	height:50px;
	overflow:hidden;
	}
.comment-input-avatar>img,.comment-avatar>img{
	width:50px;
	height:50px;
	}
.comment-id>div{
	display:inline-block;
	}
.comment-id-username{
	font-weight:bold;
	font-size:14px;
	}
.comment-date{
	font-weight:bold;
	color:#bec4d2;
	font-size:12px;
	}
.comment-text-input{
	}
.comment-input{
	width:100%;
    height: 100px;
    	resize:none;
	outline:none;
	min-height:30px;
	border:1px solid #bec4d2;
	border-radius:4px;
	color:#293c6b;
	font-family:arial;
	font-size:14px;
	}
.comment-text-wrapper{
	margin:5px 0px;
	}
.comment-text{
	font-size:12px;
	word-wrap:break-word;
	}
.report-comment{
	color:#bec4d2;
	float:right;
	cursor:pointer;
	font-size:12px;
    opacity:0.4;
    position:absolute;
    right:0px;
    bottom:0px;
	}
.reported{
	color:#293c6b;
	}
.delete-comment{
	color:#bec4d2;
	float:right;
	cursor:pointer;
	font-size:12px;
	padding:0px 0px 0px 5px;
	}
.report-comment:hover{
	color:#293c6b;
	}
.delete-comment:hover{
	color:#293c6b;
	}
/*end of comment section view*/
/*Dialogue button view*/
.dialogue-buttons{
	width:500px;
	background:#bec4d2;
	text-align:center;
	}
.dialogue-buttons>div{
	display:inline-block;
	vertical-align:top;
	padding:5px;
	margin:5px;
	border-radius:4px;
	font-family:arial;
	font-size:12px;
	font-weight:bold;
	cursor:pointer;
	border:1px solid #949db5;
	}
.dialogue-buttons>div:hover{
	background:#949db5;
	}

.btnsmall {
    width:auto;
    font-size:small;
}


.activity-header-txt {
    max-width:75% !important;
}
.activity-host-avatar {
        max-width:25% !important;
}

.vs-divider > div {
    width: 100%;
    height: 28px;
    display: block;
    margin: 4px auto;
    font-weight: bold;
    color: #949db5 !important;
    font-size: 25px;
}
.vs-divider  {width: 80%;}

.list__header {
    background-color:#c13234 !important;
    color:#293c6b !important;
    padding:3px !important;
}
.list__item {
    min-height: 44px;
}
.bottom-bar {
    background-color:#5bc0de;
}
.smallcolumn {
    max-width: 30%;
}


.invitations-wrapper{
	width:100%;
	border-radius:4px;
	border:1px solid #BEC4D2;
	overflow:hidden;
	background:white;
	}
.reminder-wrapper{
	width:100%;
	border-radius:4px;
	border:1px solid #BEC4D2;
	overflow:hidden;
	background:white;
	}
.updates-wrapper{
	width:100%;
	border-radius:4px;
	border:1px solid #BEC4D2;
	overflow:hidden;
	background:white;
	}
.header{
	width:100%;
	height:20px;
	background:#c13234;
	text-align:center;
	padding:10px 0 0 0;
	font-weight:bold;
    color:#fff !important;
	}
.notification-avatar{
	width:50px;
	height:50px;
	margin:5px;
	overflow:hidden;
	border-radius:100%;
	}
	.notification-avatar>img{
		width:50px;
		height:50px;
		}
.notifications-content-wrapper{
	width:100%;
	}
.notification-data{
	width:420px;
	margin:auto;
	}
.notification-wrapper{
	width:100%;
	min-height:50px;
	cursor:pointer;
	/*border-bottom:1px solid #BEC4D2;*/
	}
.notification-wrapper:hover{
	background:#F1F3F6;
	}
.notification-wrapper>div{
	display:inline-block;
	vertical-align:top;
	}
.notification-text{
	cursor:pointer;
	color:#293c6b;
	font-size:12px;
	margin:10px 0px 5px 0px;
	}
.notification-time-stamp{
	color:#BEC4D2;
	display:block;
	cursor:pointer;
	}
.notifications-list-wrapper{
	max-height:480px;
	overflow-y:scroll;
	overflow-x:hidden;
	}

.btnxsmall {
        background-color: #428BCA;
    border-radius: 5px;
    font-size: 11px;
    color: white !important;
    padding: 2px 2px 2px 2px;
    line-height: 20px;
}
.useractivitylist  .list__item{
    min-height:60px;
}
.btnaccept{
    background-color:green;
}
.btnaccept div ,.btnaccept i,.btndecline div ,.btndecline i{
    color: white !important;
}
.btndecline {
        background-color:red;

}
.bottomtoolbar {
    padding-top: 10px;
    display:block;
}
.uploadinprogress {
    background-color: #5bc0de;
    color: black;
    padding: 4px;

}
.successtoolbar, .successtoolbar div {
    background-color:#dff0d8 !important;
    color: green !important;
    padding: 4px;
}
.errortoolbar, .errortoolbar div {
    background-color:#f2dede  !important;
    color: red !important;
    padding: 4px;
}

.checkmail {

 display: inline;
    float: right;
    margin-top: -34px;
}
.pull-right {
float:right;
}
.pull-left {
float:left;
}

.commentor {position: absolute;top:0px;left:0px;
}

.invitation-wrapper{
	    width:100%;
	    min-width:300px;
	    border:1px solid #bec4d2;
	    border-radius:4px;
		background:white;
		overflow:hidden;
	}
	/*INVITATION HEADER CSS*/
	.invitation-header{
	    width:100%;
	     min-width:300px;
	}
	.invitation-header>div{
	   display:inline-block;
	   vertical-align:top;
	}
	.invitation-host-avatar{
		width:40px;
	    margin:5px;
	    height:40px;
	    border-radius:100%;
	    overflow:hidden;
		}
	.invitation-section-avatar, .invitation-bracket-section-avatar{
	    width:40px;
	    margin:auto;
	    height:40px;
	    border-radius:100%;
	    overflow:hidden;
	}
	.invitation-host-avatar>img, .invitation-section-avatar>img, .invitation-bracket-section-avatar>img{
	    width:40px;
	}
	.invitation-header-txt{
	    margin:5px; 
		max-width:240px;
	}
	.invitation-header-txt-top-section>div{
	    display:inline-block;
	    vertical-align:top;
	    margin-right:5px;
	}
	.invitation-host-username, .invitation-date{
	    font-weight:bold;
	}
	.invitation-date{color:#949db5 !important;}
	.invitation-title{font-size:18px; font-weight:bold; word-wrap:break-word;}
	.invitation-type{color:#949db5 !important;}
	/*INVITATION BODY*/
	/*BATTLE*/
	.invitation-section{
		margin:10px auto;
		width:200px;
	}
	.invitation-section>div{
		display: inline-block;
		vertical-align:top;
		text-align:left;
	}
	.invitation-section-badge{
		width:50px;
	}
	.invitation-section-names{
		text-align:left;
		margin-left:10px;
	}
	.invitation-section-fullname{
		font-weight:bold;
	}
	.invitation-section-username{
		font-weight:bold;
		color:#949db5 !important;
	}
	/*BRACKET*/
	.invitation-bracket-section{		
		text-align:center;
	}
	.invitation-bracket-section>div{
		display:inline-block;
		vertical-align:top;
	}
	.invitation-bracket-section-content{
		text-align:right;
		height:70px;
	}
	.invitation-bracket-section-content>div{
		display:inline-block;
		vertical-align:top;
	}
	.invitation-bracket-section-avatar-wrapper{
		width:50px;
		text-align:center;
	}
	.invitation-bracket-section-fullname{
		font-weight:bold;
	}
	.invitation-bracket-section-username{
		font-weight:bold;
		color:#949db5 !important;
	}	
	.invitation-bracket-section-options-button-wrapper{
		width:50px;
		text-align:center;
	}
	.invitation-bracket-section-frame{
	    background:url("http://www.bracketdash.com/images/icons/bracketFrame.png");
	    background-size:30px 65px;
	    width:30px;
	    height:65px;
	    margin:24px 0px;
	}
	/*INVITATION BODY SHARED CODE*/
	.invitation-contestant-options-button{
		background:url("http://www.bracketdash.com/images/icons/vertical-options-button.png");
	    background-size:cover;
	    width:6px;
	    height:20px;
	    opacity:.7;
	    cursor:pointer;
	}
	.vs-divider>div{
	    width:32px;
	    height:28px;
	    display:block;
	    margin:4px auto;
	    font-weight:bold;
	    color:#949db5 !important;
	    font-size:25px;
	}
	.invitation-divider{
		background:#949db5;
		font-weight:bold;
		padding:5px 0px;
		text-align:center;
		margin:5px 0px;
	}
	/*INVITATION FOOTER*/
	/******************/
	.invitation-footer,.invitation-footer div {
	    /*background-color:#c13234;*/
	    background-color:#c13234;
	    color:white !important;
	    padding:10px;
	}
	.invitation-description{
	    margin: auto;
	    color: white !important;
	}
	.invitation-response-button{
		background:#929db5;
		text-align:center;
	}
	.invitation-response-button>div{
		display:inline-block;
		vertical-align:top;
		border:1px solid #667697;
		border-radius:3px;
		padding:5px;
		margin:5px;
		cursor:pointer;
		font-weight:bold;
	}
	.invitation-response-button>div:hover{
		border:1px solid #3A4F79;
		background:#667697;
	}
 .list__header {
    height:38px;
    color:white !important;
}
@media only screen and (min-width: 500px) {
    div {
        color: #293c6b;
        font-family: arial;
        font-size: 14px;
    }

    .invitation-wrapper {
        width: 500px;
        border: 1px solid #bec4d2;
        border-radius: 4px;
        background: white;
        text-align: left;
    }
    /*INVITATION HEADER CSS*/
    .invitation-header {
        width: 500px;
    }

        .invitation-header > div {
            display: inline-block;
            vertical-align: top;
        }

    .invitation-host-avatar {
        width: 50px;
        margin: 5px;
        height: 50px;
        border-radius: 100%;
        overflow: hidden;
    }

    .invitation-section-avatar, .invitation-bracket-section-avatar {
        width: 50px;
        margin: auto;
        height: 50px;
        border-radius: 100%;
        overflow: hidden;
    }

        .invitation-host-avatar > img, .invitation-section-avatar > img, .invitation-bracket-section-avatar > img {
            width: 50px;
        }

    .invitation-header-txt {
        margin: 5px;
        max-width: 415px;
    }

    .invitation-header-txt-top-section > div {
        display: inline-block;
        vertical-align: top;
        margin-right: 5px;
    }

    .invitation-host-username, .invitation-date {
        font-weight: bold;
    }

    .invitation-date {
        color: #949db5 !important;
    }

    .invitation-title {
        font-size: 24px;
        font-weight: bold;
        width: 100%;
    }

    .invitation-type {
        color: #949db5 !important;
        width: 100%;
    }
    /*INVITATION BODY*/
    /*BATTLE*/

    .invitation-section {
        margin: 10px auto;
    }

        .invitation-section > div {
            display: inline-block;
            vertical-align: top;
        }

    .invitation-section-badge {
        width: 60px;
        margin-left: 150px;
    }

    .invitation-section-names {
        text-align: left;
        margin-left: 10px;
    }

    .invitation-section-fullname {
        font-weight: bold;
    }

    .invitation-section-username {
        font-weight: bold;
        color: #949db5 !important;
    }

    /*BRACKET*/
    .invitation-bracket-section {
        text-align: center;
    }

        .invitation-bracket-section > div {
            display: inline-block;
            vertical-align: top;
        }

    .invitation-bracket-section-content {
        height: 80px;
        text-align: right;
    }

        .invitation-bracket-section-content > div {
            display: inline-block;
            vertical-align: top;
        }

    .invitation-bracket-section-fullname {
        font-weight: bold;
    }

    .invitation-bracket-section-username {
        font-weight: bold;
        color: #949db5 !important;
    }

    .invitation-bracket-section-avatar-wrapper {
        width: 60px;
        text-align: center;
    }

    .invitation-bracket-section-frame {
        background: url("http://www.bracketdash.com/images/icons/bracketFrame.png");
        background-size: 30px 85px;
        width: 30px;
        height: 85px;
        margin: 25px 0px;
    }

    /*INVITATION BODY SHARED CODE*/
    .vs-divider > div {
        width: 58px;
        height: 48px;
        display: block;
        margin: 4px auto;
        font-weight: bold;
        color: #949db5 !important;
        font-size: 45px;
    }

    .invitation-divider {
        background: #949db5;
        font-weight: bold;
        padding: 5px 0px;
        text-align: center;
        margin: 5px 0px;
    }
    /******************/
    /*INVITATION FOOTER*/
    .invitation-footer {
        /*background-color:#c13234;*/
        background-color: #c13234;
        color: white !important;
        padding: 10px;
    }

    .invitation-description {
        margin: auto;
        color: white !important;
    }

    .invitation-response-button {
        background: #929db5;
        text-align: center;
    }

        .invitation-response-button > div {
            display: inline-block;
            vertical-align: top;
            border: 1px solid #667697;
            border-radius: 3px;
            padding: 5px;
            margin: 5px;
            cursor: pointer;
            font-weight: bold;
        }

            .invitation-response-button > div:hover {
                border: 1px solid #3A4F79;
                background: #667697;
            }
}

.account-settings-wrapper {
    text-align:center;
    width: 100%;
    border-radius: 4px;
    border: 1px solid #BEC4D2;
    overflow: hidden;
    background: white;
    margin-bottom: 13px;
}
.account-settings-wrapper .header {
    color:white !important;
}

.bottomgap {
    height:40px;
}

.longdialog {
    height:200px;
}



.aip-wrapper{
    width:100%;
    border:1px solid #bec4d2;
    border-radius:4px;
	background:white;
	text-align:left;
}
/*ACTIVITY HEADER CSS*/
.aip-header{
    width:100%;
}
.aip-header>div{
   display:inline-block;
   vertical-align:top;
}
.aip-host-avatar{
	width:50px;
    margin:5px;
    height:50px;
    border-radius:100%;
    overflow:hidden;
	}
.aip-section-avatar, .aip-bracket-section-avatar{
    width:50px;
    margin:auto;
    height:50px;
    border-radius:100%;
    overflow:hidden;
}
.aip-host-avatar img, .aip-section-avatar img, .aip-bracket-section-avatar img{
    width:50px;
}
.aip-header-txt{
    margin:5px;
	max-width:415px;
}
.aip-header-txt-top-section div{
    display:inline-block;
    vertical-align:top;
    margin-right:5px;
}
.aip-host-username, .aip-date{
    font-weight:bold;
}
.aip-date{color:#949db5 !important;}
.aip-title{font-size:24px; font-weight:bold;width:100%;}
.aip-type{color:#949db5 !important;width:100%;}
/*ACTIVITY IN PROGRESS BODY*/
/*BATTLE*/
.aip-section{
	text-align:center;
	margin:10px auto;
}
.aip-section>div{
	display: inline-block;
	vertical-align:top;
}
.aip-thumbnail-wrapper{
	max-width:310px;
	width:100%;
	text-align:left;
}
.aip-section-badge{
	width:100px;
	text-align:center;
}
.aip-section-username{
	font-weight:bold;
}
.aip-thumnmail-wrapper div{
	display:inline-block;
	vertical-align:top;
	text-align:left;
	margin:0px;
}
.aip-thumbnail-wrapper .aip-thumbnail{
	width:120px;
	height:70px;
	background:#e9ebf0;
	text-align:left;
}
.aip-section-options-button-wrapper{
	float:right;
	margin-right:10px;
}
/*BRACKET*/
.aip-bracket-section{		
	/*css code*/
}
.aip-bracket-section div{
	display:inline-block;
	vertical-align:top;
}
.aip-bracket-section-content-wrapper{
	width: 85%;
}
.aip-bracket-section-content{
	height:80px;
	min-width:90%;
}
.aip-bracket-section-content div{
	display:inline-block;
	vertical-align:top;
}
.aip-bracket-section-avatar-wrapper{
	width:100px;
	text-align:center;
	float:right;
}
.aip-bracket-section-username{
	font-weight:bold;
	display:block;
	width:100px;
}
.aip-bracket-section-content .aip-thumbnail{
	width:120px;
	height:70px;
	background:#e9ebf0;
	float:right;
}
.aip-bracket-section-options-button-wrapper{
	margin-left:10px;
	float:left;
}

.aip-bracket-section-frame{
    background:url("https://www.bracketdash.com/images/icons/bracketFrame.png");
    background-size:30px 85px;
    width:30px;
    height:85px;
    margin:25px 0px;
    float:right;


}

/*AIP BODY SHARED CODE*/
.upload-video-button{
	vertical-align:middle;
	display:inline-block;
	width:70px;
	font-weight:bold;
	text-align:center;
	margin:20px;
	}
.invitation-status{
	vertical-align:middle;
	display:inline-block;
	width:70px;
	font-weight:bold;
	text-align:center;
	margin:20px;
}
.aip-thumbnail{
	width:120px;
	height:70px;
	cursor:pointer;
	background:#e9ebf0;
	text-align:center;
	}
.aip-thumbnail img{
	width:120px;
	height:70px;
}
.aip-thumbnail .play-button{
	margin:20px 45px;
}
.play-button{
    width:30px;
    height:30px;
    background:url("https://www.bracketdash.com/images/icons/play-video-button.png");
    background-size:cover;
    position:absolute;
    opacity:.8;
    cursor:pointer;
}
.video-input{
	display:none;
	}
.aip-contestant-options-button{
	background:url("https://www.bracketdash.com/images/icons/vertical-options-button.png");
    background-size:cover;
    width:6px;
    height:20px;
    opacity:.7;
    cursor:pointer;
    margin: 3px;
    margin-top: 20px;
    margin-left: 7px;
}
.vs-divider div{
    width:58px;
    height:48px;
    display:block;
    margin:4px auto;
    font-weight:bold;
    color:#949db5 !important;
    font-size:45px;
}
.aip-divider{
	background:#949db5;
	font-weight:bold;
	padding:5px 0px;
	text-align:center;
	margin:5px 0px;
}
/******************/
/*ACTIVITY IN PROGRESS FOOTER*/
.aip-footer{
    /*background-color:#F7E5E5;*/
    background-color:#c13234;
    color:white !important;
    padding:10px;
}
.aip-description{
    margin: auto;
    color: white !important;
}
.aip-options-button{
    background:url("https://www.bracketdash.com/images/icons/options-button.png");
    background-size:cover;
    width:30px;
    height:8px;
    margin:5px auto 0px auto;
	cursor:pointer;
	opacity:0.7;
}



.aip-options-wrapper{
	font-size:14px;
	font-family:arial;
	color:#293c6b;
	width:100%;
	overflow:hidden;
	background:white;
	} 
.aip-options-tab-wrapper{
	width:100%;
	text-align:center;
	border-bottom:1px solid #949db5;
	}
.aip-options-tab-wrapper div{
	display:inline-block;
	vertical-align:top;
	margin:5px;
	font-weight:bold;
	font-size:12px;
	padding:5px;
	cursor:pointer;
	border-radius:4px;
	}
.aip-options-tab-wrapper div:hover{
	background:#e9ebf0;
	}

.aip-option-text{
	text-align: center;
	margin:10px;
	font-weight: bold;
}
.aip-option-buttons{
	width:100%;
	min-width:300px;
	background:#bec4d2;
	text-align:center;
	}
.aip-option-buttons div{
	display:inline-block;
	vertical-align:top;
	padding:3px;
	margin:3px;
	border-radius:2px;
	font-family:arial;
	font-size:11px;
	font-weight:bold;
	cursor:pointer;
	border:1px solid #949db5;
	}
.aip-option-buttons div:hover{
	background:#949db5;
	}

.profileStats {
    font-size: 15px;
    margin: auto;
    width: 200px;
    text-align: center;
    opacity: .5;
    color: white;
}
.active-status {
    color: green !important;
    font-weight: bold;
}

.bracket-section {
    text-align:center !important;
}
.bracket-section-content-wrapper, .bracket-section-content {
    width: auto !important;
}
.expired {
color:red !important;}

@media only screen and (max-width: 300px) {
    .aip-thumbnail, .aip-thumbnail img, .section-thumbnail img, .section-avatar > img, bracket-section-thumbnail> img {
        max-width: 6em !important;
        margin-left: 2px !important;
    }
    .contestant-section {
        padding: 0px;
    }
    .contestant-section > div {
        margin:0px !important;
        padding:0px !important;
    }
    .aip-bracket-section-content div {
           max-width: 6em !important;
                   margin-left: 2px !important;
    }
    .avatar {
        width: 50% !important;
height: 50%;
    }
    .bracket-section-frame {
        float:right;
        position:absolute;
    }

}
#mysearchicon {
line-height:0.1em;
}