<?xml version='1.0' encoding='utf-8'?>
<widget id="com.bracketdash.mobile" version="0.0.1" xmlns="http://www.w3.org/ns/widgets" xmlns:cdv="http://cordova.apache.org/ns/1.0">
    <name>Bracket Dash</name>
    <description>
        Bracket Dash Mobile App
    </description>
    <author email="info@bracketdash.com" href="http://www.bracketdash.com">
        Bracket Dash team
    </author>
    <content src="index.html" />
    <access origin="*" />
</widget>
