<?xml version='1.0' encoding='utf-8'?>
<widget id="com.bracketdash.mobile" ios-CFBundleVersion="0.0.2" version="0.3.0" xmlns="http://www.w3.org/ns/widgets" xmlns:cdv="http://cordova.apache.org/ns/1.0" xmlns:gap="http://phonegap.com/ns/1.0">
    <name>BracketDash</name>
    <description>
        BracketDash Mobile App
    </description>
    <author email="info@bracketdash.com" href="http://www.bracketdash.com">
        BracketDash team
    </author>
    <content src="index.html" />
    <plugin name="org.apache.cordova.file-transfer"/>
  <plugin spec="https://github.com/apache/cordova-plugin-device.git" source="git"/>
  <plugin spec="https://github.com/cdibened/filechooser.git" source="git" />
  <plugin spec="https://github.com/hazemhagrass/phonegap-base64.git" source="git" />
  <gap:plugin name="org.apache.cordova.splashscreen" />
<gap:plugin name="com.phonegap.plugin.statusbar" />
    <preference name="AndroidPersistentFileLocation" value="Compatibility" />
  <preference name="android-minSdkVersion" value="5" />
  <preference name="StatusBarOverlaysWebView" value="false" />
    <preference name="StatusBarBackgroundColor" value="#c13234" />
<preference name="DisallowOverscroll" value="true" />
    <access origin="*" />
  <access origin="transloadit.com" />
  <access origin="*.transloadit.com" />

  <icon src="res/ios/icon.png" gap:platform="ios" width="57" height="57"/>
<icon src="res/ios/icon57.png" gap:platform="ios" width="57" height="57" />
<icon src="res/ios/icon72.png" gap:platform="ios" width="72" height="72" />
<icon src="res/ios/icon76.png" gap:platform="ios" width="76" height="76" />
<icon src="res/ios/icon114.png" gap:platform="ios" width="114" height="114" />
<icon src="res/ios/icon120.png" gap:platform="ios" width="120" height="120" />
<icon src="res/ios/icon144.png" gap:platform="ios" width="144" height="144" />
<icon src="res/ios/icon150.png" gap:platform="ios" width="150" height="150" />
<icon src="res/ios/icon152.png" gap:platform="ios" width="152" height="152" />
  

<gap:splash src="res/ios/Default.png" gap:platform="ios" width="320" height="480"/>
<gap:splash src="res/ios/Default_at_2x.png" gap:platform="ios" width="640" height="960"/>
<gap:splash src="res/ios/Default-568h_at_2x.png" gap:platform="ios" width="640" height="1136"/>
<gap:splash src="res/ios/Default-Landscape~ipad.png" gap:platform="ios" width="1024" height="748"/>
<gap:splash src="res/ios/Default-Portrait~ipad.png" gap:platform="ios" width="768" height="1004"/>
<gap:splash src="res/ios/Default-Landscape_at_2x~ipad.png" gap:platform="ios" width="2048" height="1496"/>
<gap:splash src="res/ios/Default-Portrait_at_2x~ipad.png" gap:platform="ios" width="1536" height="2008"/>
  
<gap:splash src="res/android/ldpi.png" gap:platform="android" gap:density="ldpi"/>
<gap:splash src="res/android/mdpi.png" gap:platform="android" gap:density="mdpi"/>
<gap:splash src="res/android/hdpi.png" gap:platform="android" gap:density="hdpi"/>
<gap:splash src="res/android/xhdpi.png" gap:platform="android" gap:density="xhdpi"/>

<preference name="SplashScreen" value="screen"/>
<gap:splash gap:platform="android" gap:qualifier="port-ldpi" src="img/bracketdash-link-image.png" />
<gap:splash src="img/bracketdash-link-image.png" />
</widget>
